/node_modules
/public/hot
/storage/*.key
/vendor
/.idea
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
.env

/public/css
/public/js
/public/plugins
/public/uploads
/public/ueditor
/public/bower
/public/fonts

/resources/assets/bower

/resources/views/vendor/mail
/resources/views/vendor/notifications
/resources/views/vendor/ueditor

/public/vendor